<!DOCTYPE html>
<html>
  <head>
    <title>Calculator</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous" />
    <link rel="stylesheet" href="style.css" />
  </head>

  <body>
    <div id="app" class="container">
      <div class="page-header">
        <h1>Calculator</h1>
      </div>
      <div class="well">
        <div class="screen container-fluid">
          <div class="row">
            <input type="text" class="form-control input-lg" v-model="input" />
          </div>
        </div>
        <div>&nbsp;</div>
        <div id="board" class="container-fluid">
          <div v-for="keys in keyGroups">
            <div class="row">
              <button v-for="key in keys" :class="key.class" @click="handleClick(key.value)" v-html="key.text"></button>
            </div>
          </div>
        </div>
      </div>
    </div>

    <script src="https://unpkg.com/vue"></script>
    <script src="script.js"></script>
  </body>

</html>
